<%- include ../layouts/header.ejs %>
<div class="page-data">
    <form method="post" action="/users_type/add">
        <table cellpadding="11">
            <tr>
                <td class="label">Name</td>
                <td><input type="text" name="name" required /></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <button type="submit">Save</button>
                    <button type="button" onClick="cancelAdd_Type()">Cancel</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<%- include ../layouts/footer.ejs %>
