<%- include ../layouts/header.ejs %>
<div class="page-data">
    <form method="post" action="/users/add">
        <table cellpadding="11">
            <tr>
                <td class="label">Select list</td>
                <td><select>
                  <% if(data.length){
                  for(var i = 0;i < data.length;i++) { %>
                  <option value="<%=data[i].id %>"><%=data[i].name %></option>
                  <% }} %>
                </select></td>
            </tr>
            <tr>
                <td class="label">Full_Name</td>
                <td><input type="text" name="full_name" required /></td>
            </tr>
            <tr>
                <td class="label">Gender</td>
                <td>
                  <select>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                </td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td><input type="text" name="email" required /></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <button type="submit">Save</button>
                    <button type="button" onClick="cancelAdd()">Cancel</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<%- include ../layouts/footer.ejs %>
